.first-section-content{
  padding-top: $main-spacing*13;
  text-align: center;

}

.first-section-header{
  font-family: $font-raleway;
  font-size: 2.5625rem;
  padding-bottom: $main-spacing*2;

  @include desktop {
  font-size: 3.5625rem;
  }
}

.first-section-text{
  margin: 0 auto;
  max-width: $main-spacing*25;
  padding-bottom: $main-spacing*3.8;
  font-size: 1rem;
  font-family: $font-open-sans;

  @include desktop {
    max-width: 100%;
  }
}

.first-section-btn{
  @include desktop {
    padding: $main-spacing*2.2 $main-spacing*15.7;
  }
}


