.header-content {
  display: flex;
  padding: $main-spacing * 2;
  max-width: 100vw;
  max-height: 10vh;
  box-shadow: 0 3px 6px #00000029;
  align-items: center;
  justify-content: space-between;

  @include desktop {
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  color: $color-primary;
  font-family: $font-raleway;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.menu-toggle {
  display: flex;
  padding: $main-spacing/2 0;

  .menu-toggle-button {
    border: none;
    background-color: $color-light-grey;
    color: $color-primary;
    outline: none;
    cursor: pointer;
    padding: $main-spacing/2 $main-spacing;

    @include desktop {
      display: none;
    }
  }
}

nav {
  display: none;

  @include desktop {
    display: block;

    ul {
      display: flex;
    }

    li {
      padding: $main-spacing;
    }

    a {
      padding: $main-spacing;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9rem;
      text-decoration: none;
      font-weight: 700;
      color: $color-grey;

      &:link,
      &:visited {
      }

      &:active,
      &:hover {
        color: $color-black;
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}
