
.statistic{
  padding-top: $main-spacing;

  @include desktop {
    margin: $main-spacing*10 auto $main-spacing*12;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.statistic-header{
  font-family: $font-raleway;
  font-size: 1.875rem;
  max-width: $main-spacing*27;
  margin: 0 auto;
  text-align: center;

  @include desktop {
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    max-width: 800px;
  }
}

.statistic-content{
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  padding-top: $main-spacing*2;

  @include desktop {
    margin-top: $main-spacing*10;
    flex-direction: row;
    justify-content: flex-start;

  }

}

.statistic-article{
  font-family: $font-raleway;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 80px 0 80px;
  flex-grow: 1;
}

.article-circle{
  width: 65px;
  height: 65px;
  position: relative;
  border-radius: 50%;
  background-color: $color-reddish;
}

.bg-color-2{
  background-color: $color-primary;
}

.bg-color-3{
  background-color: $color-green;
}

.article-img{
  position: absolute;
  top: 0;
  left: 50%;
}

.article-img2{
  position: absolute;
  top: 25%;
  left: 35%;
}

.article-img3{
  position: absolute;
  top: 10%;
  left: 50%;
}

.article-number{
  font-size: calc(20rem / 16);
  font-family: $font-raleway;
  color: $color-black;
  font-weight: bolder;
  letter-spacing: 6px;
  margin-top: 15px;
}

.article-text{
  margin-top: 20px;
  font-size: calc(17rem / 16);
  color: $color-grey;
}
